@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
    margin:  0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.head1 {margin: top 300px;;}
#menu-h ul{
    max-width: 74.4%;
    list-style: none;
    padding: 0;
    background-color:rgb(37, 37, 39);

}
#menu-h ul li{
    display: inline;
}

#menu-h ul li a{
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    transition: background .8s;
}
#menu-h ul li a:hover {
    background-color: rgb(197, 167, 33);
    
}
#menu-h ul li:last-child a{
    float: right;
    background-color: rgb(57, 91, 185);
}
body{
    
}

